@media(max-width: 1700px) {
    .banner {
        left: 12rem;
    }

    .about-right {
        margin-right: 20rem;
    }

    .frame {
        width: 45rem;
        height: 30rem;
        right: 20rem;
    }
    
    .about-img-wrapper {
        width: 45rem;
        height: 30rem;
        right: 13rem;  
    }

    .experience {
        right: 20rem;
    }

    .projects {
        height: 100%;
    }

    .cards {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25rem;
    }

    .card {
        margin: 1.5rem;
    }

    .customers-content {
        width: 90%;
    }

    .client {
        right: 20rem;
    }

    .contact-content {
        width: 90%;
    }

    .brand-footer {
        left: 16%;
    }

    .copyright {
        right: 16%;
    }
}

@media(max-width: 1400px) {
    html {
        font-size: 55%;
    }

    .frame {
        width: 40rem;
        height: 25rem;
        right: 15rem;
    }

    .about-img-wrapper {
        width: 40rem;
        right: 8rem;  
        height: 25rem;
    }

    .experience {
        right: 12rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 49%;
    }

    .about-left p {
        width: 40rem;
    }

    .customers-content {
        width: 100%;
    }

    .client {
        right: 10rem;
    }

    .contact-content {
        width: 100%;
    }

    .brand-footer {
        left: 10%;
    }

    .copyright {
        right: 10%;
    }
}

@media(max-width: 900px) {
    html {
        font-size: 45%;
    }

    .search-bar input {
        width: 30rem;
    }

    .banner-heading {
        font-size: 7rem;
    }

    .banner-heading span {
        font-size: 7rem;
    }

    .banner-content p {
        font-size: 1.7rem;
        width: 35rem;
    }

    .about-left h1 {
        font-size: 3rem;
        width: 35rem;
    }

    .about-left p {
        width: 35rem;
        font-size: 1.7rem;
    }

    .frame {
        width: 30rem;
        height: 15rem;
        border: 1.5rem solid #555;
        right: 10rem;
    }

    .about-img-wrapper {
        width: 30rem;
        right: 7rem;
        top: 12rem;
        height: 15rem;
    }

    .experience {
        right: 7rem;
    }

    .customers {
        height: 100%;
        padding-bottom: 12rem;
    }

    .customers-content {
        flex-direction: column;
        align-items: center;
    }

    .customers-card {
        margin: 8rem;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-left {
        margin-bottom: 4rem;
    }
}

@media(max-width: 600px) {
    html {
        font-size: 35%;
    }

    .navbar-brand span {
        display: none;
    }

    .navigation a {
        font-size: 3rem;
    }

    .navigation a::before, .navigation a::after {
        width: 10rem;
    } 

    .navigation a::before {
        left: -13rem;
    }

    .navigation a::after {
        right: -13rem;
    }

    .banner {
        left: 5rem;
        bottom: 18rem;
    }

    .banner-heading {
        font-size: 5rem;
    }

    .banner-heading span {
        font-size: 4rem;
    }

    .about {
        justify-content: center;
        height: 100%;
        padding: 10rem 0 25rem 0;
    }

    .about-left {
        text-align: center;
        margin-right: 0;
    }

    .about-right {
        display: none;
    }

    .projects-heading {
        font-size: 6rem;
    }
}