  <section class="projects">
    <h1 class="projects-heading">LATEST PROJECTS</h1>
    <div class="cards">
      <div class="card">
        <img src="./card1.jpg" alt="Project 1" />
        <div class="card-content">
          <h1>Your Dream House is here</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
            vero?
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./card2.jpg" alt="Project 2" />
        <div class="card-content">
          <h1>Your Dream House is here</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
            vero?
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./card3.jpg" alt="Project 3" />
        <div class="card-content">
          <h1>Your Dream House is here</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
            vero?
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./card4.jpg" alt="Project 4" />
        <div class="card-content">
          <h1>Your Dream House is here</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
            vero?
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./card5.jpg" alt="Project 5" />
        <div class="card-content">
          <h1>Your Dream House is here</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
            vero?
          </p>
        </div>
      </div>
    </div>
    <div class="designs section-bottom">
      <h1>AWESOME</h1>
      <h3>DESIGNS</h3>
    </div>
  </section>
