/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}
/* End of Default Styles */

/* Container */
.container {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

/* Customers */
.customers {
    width: 100%;
    height: 80vh;
    background-color: #313133;
    padding-top: 7rem;
    position: relative;
}

.customers-heading {
    font-size: 8rem;
    color: #fff;
    margin: 0 0 10rem 9rem;
    letter-spacing: .2rem;
}

.customers-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.customers-card {
    position: relative;
}

.customers-card img {
    width: 20rem;
    position: absolute;
    top: -5rem;
    right: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.customers-card-content {
    width: 50rem;
    height: 22rem;
    background-color: #777;
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    padding: 2rem ;
}

.customers-card-content h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.customers-card-content h3 {
    font-size: 1.8rem;
    color: #ccc;
    margin-bottom: 3rem;
}

.customers-card-content i {
    font-size: 2rem;
    color: #fff;
}


.customers-card-content p {
    font-size: 1.6rem;
    color: #fff;
}
/* End of Customers */


/* Contact */
.contact {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.contact-content h1 {
    font-size: 3rem;
    text-transform: uppercase;;
    color: #ccc;
}

.contact-content input {
    width: 45rem;
    height: 4rem;
    background-color: transparent;
    padding: 1.5rem 1.5rem 2.2rem 0;
    border: none;
    border-bottom: .1rem solid #777;
    font-size: 1.8rem;
    color: #ccc;
    transition: all .3s;
}

.contact-content input:focus {
    border-bottom: .1rem solid #dba81b;
}

.contact-content input::placeholder {
    color: #ccc;
    letter-spacing: .1rem;
}

.contact-right {
    position: relative;
}

.contact-right i {
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    right: 0;
    color: #ccc;
    cursor: pointer;
}
/* End of Contact */


/* Footer */
.footer {
    width: 100%;
    height: 7rem;
    background-color: #202020;
    border-top: .1rem solid #3e3e41;
    position: relative;
}

.brand-footer {
    position: absolute;
    top: 3.5rem;
    left: 20%;
}

.brand-footer .logo1 {
    width: 3rem;
    height: 3rem;
    border: .2rem solid #dba81b;
}

.brand-footer .logo2 {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #202020;
    top: .7rem;
    left: .7rem;
}

.brand-footer .logo3 {
    width: 2.5rem;
    height: 2.5rem;
    border: .2rem solid #dba81b;
    background-color: #202020;
    top: 1.3rem;
    left: 1.3rem;
}

.brand-footer span {
    font-size: 2rem;
    margin-top: .5rem;
}

.copyright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    font-size: 1.6rem;
    color: #ccc;
}
/* End of Footer */
/* End of Container */


/* Responsive */
@media(max-width: 1700px) {
    .banner {
        left: 12rem;
    }

    .about-right {
        margin-right: 20rem;
    }

    .frame {
        width: 45rem;
        height: 30rem;
        right: 20rem;
    }
    
    .about-img-wrapper {
        width: 45rem;
        height: 30rem;
        right: 13rem;  
    }

    .experience {
        right: 20rem;
    }

    .projects {
        height: 100%;
    }

    .cards {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25rem;
    }

    .card {
        margin: 1.5rem;
    }

    .customers-content {
        width: 90%;
    }

    .client {
        right: 20rem;
    }

    .contact-content {
        width: 90%;
    }

    .brand-footer {
        left: 16%;
    }

    .copyright {
        right: 16%;
    }
}

@media(max-width: 1400px) {
    html {
        font-size: 55%;
    }

    .frame {
        width: 40rem;
        height: 25rem;
        right: 15rem;
    }

    .about-img-wrapper {
        width: 40rem;
        right: 8rem;  
        height: 25rem;
    }

    .experience {
        right: 12rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 49%;
    }

    .about-left p {
        width: 40rem;
    }

    .customers-content {
        width: 100%;
    }

    .client {
        right: 10rem;
    }

    .contact-content {
        width: 100%;
    }

    .brand-footer {
        left: 10%;
    }

    .copyright {
        right: 10%;
    }
}

@media(max-width: 900px) {
    html {
        font-size: 45%;
    }

    .search-bar input {
        width: 30rem;
    }

    .banner-heading {
        font-size: 7rem;
    }

    .banner-heading span {
        font-size: 7rem;
    }

    .banner-content p {
        font-size: 1.7rem;
        width: 35rem;
    }

    .about-left h1 {
        font-size: 3rem;
        width: 35rem;
    }

    .about-left p {
        width: 35rem;
        font-size: 1.7rem;
    }

    .frame {
        width: 30rem;
        height: 15rem;
        border: 1.5rem solid #555;
        right: 10rem;
    }

    .about-img-wrapper {
        width: 30rem;
        right: 7rem;
        top: 12rem;
        height: 15rem;
    }

    .experience {
        right: 7rem;
    }

    .customers {
        height: 100%;
        padding-bottom: 12rem;
    }

    .customers-content {
        flex-direction: column;
        align-items: center;
    }

    .customers-card {
        margin: 8rem;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-left {
        margin-bottom: 4rem;
    }
}

@media(max-width: 600px) {
    html {
        font-size: 35%;
    }

    .navbar-brand span {
        display: none;
    }

    .navigation a {
        font-size: 3rem;
    }

    .navigation a::before, .navigation a::after {
        width: 10rem;
    } 

    .navigation a::before {
        left: -13rem;
    }

    .navigation a::after {
        right: -13rem;
    }

    .banner {
        left: 5rem;
        bottom: 18rem;
    }

    .banner-heading {
        font-size: 5rem;
    }

    .banner-heading span {
        font-size: 4rem;
    }

    .about {
        justify-content: center;
        height: 100%;
        padding: 10rem 0 25rem 0;
    }

    .about-left {
        text-align: center;
        margin-right: 0;
    }

    .about-right {
        display: none;
    }

    .projects-heading {
        font-size: 6rem;
    }
}
/* End of Responsive */