  <section class="customers">
    <h1 class="customers-heading">CUSTOMERS</h1>
    <div class="customers-content">
      <div class="customers-card">
        <img src="./customer1.jpg" alt="Photo of John Smith" />
        <div class="customers-card-content">
          <h1>John Smith</h1>
          <h3>Co-manager associated</h3>
          <i class="fa-solid fa-quote-left"></i>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus, illo velit ullam nam deleniti nisi?
          </p>
        </div>
      </div>
      <div class="customers-card">
        <img src="./customer2.jpg" alt="Photo of Ann White" />
        <div class="customers-card-content">
          <h1>Ann White</h1>
          <h3>Co-manager associated</h3>
          <i class="fa-solid fa-quote-left"></i>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus, illo velit ullam nam deleniti nisi?
          </p>
        </div>
      </div>
    </div>
    <div class="client section-bottom">
      <h1>CLIENT</h1>
      <h3>SAYS</h3>
    </div>
  </section>
